<div class="insf__container">

    {{#each storyGroup}}
        <div class="insf__story-group">
            <img class="insf__story-group-image" src="{{thumbnail.src}}" alt="{{thumbnail.title}}" />
        </div>
    {{/each}}
</div>